<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="author" content="<your name>">
    <meta name="keywords" content="<comma>, <separated>, <keywords>">
    <meta name="description" content="<A short description about this page>">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
			<header>
        <nav>
          <ul>
            <li><a href="">Our Mission</a></li>
            <li><a href="">Our Story</a></li>
            <li><a href="">Philosophy</a></li>
            <li><a href="">The Combination</a></li>
          </ul>
          <div id="logo"></div>
          <ul>
            <li><a href="">The Approach</a></li>
            <li><a href="">Botanicals</a></li>
            <li><a href="">The Bottle</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
			</header>
      <div id="image-box">
        <img class="top-left" src="http://roguesocietygin.com/img/1-top-left.png" />
        <img class="top-right" src="http://roguesocietygin.com/img/1-top-right.png" />
        <img class="center" src="http://roguesocietygin.com/img/1-bottle.png" />
        <img class="bottom-right" src="http://roguesocietygin.com/img/1-bottom-right.png" />
        <img class="bottom-left" src="http://roguesocietygin.com/img/1-bottom-left.jpg" />
      </div>
			<!--<footer>
				&copy; Footer Goes Here
			</footer>
		</div><!-- #container --> 
  </body>
</html>
