doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    hr
    p That's a simple application using Express. Checkout our great <a href='/content'>content</a>.
    a(href='/logout') logout